<div class="nav">
  <!------------Dashboard-Nav-Menus----------->
  <app-dashboard-menus></app-dashboard-menus>
  <!-------Dashboard-Nav-Right-Side-Menus---------->
  <app-top-right-menu></app-top-right-menu>
</div>

<!-----------Dashboard-Side-Menus-------------->
<div>
  <app-dashboard-sidebar></app-dashboard-sidebar>
</div>

<div class="upload-div">
  <h3>UPLOAD IMAGE</h3>
</div>
<div class="upload-form">
  <form>
  <input type="file" name="imagefile" id="imagefile" (change)="changeListener($event)" class="formcontrol">&nbsp;
  <span><button type="button" class="btn btn-info">Upload Image</button></span>
</form>
</div>
<router-outlet></router-outlet>
