.page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 100vh;
}

.page-not-found p {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
